<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" value="width=device-width; initial-scale:1.0">
</head>

<body>
    <% include header %>

    <div class="content">
        Content goes here
    </div>

    <% include footer %>
</body>

</html>